TELEGRAM_TOKEN=673959650:AAF400Zr0N-ohpxnlOwY5lD_yvQyViTHRos
MONOBANK_WEBHOOK_URL=https://e20514f52f63.ngrok.io
MONOBANK_PORT=8000
API_SERVER_PORT=8001

# https://api.monobank.ua/
MONOBANK_TOKEN_1=uiMrM5LY23-3yyNJAFBRMZdDrmELu4v9aMRvj-L8dXrs
# Webhook data->account
MONOBANK_ACCOUNT_1=write-card
# Telegram username
USERNAME_1=aaaaaaa
# Telegram chat id
CHAT_ID_1=154701187

MONOBANK_TOKEN_2=
MONOBANK_ACCOUNT_2=
USERNAME_2=
CHAT_ID_2=
